@import '/src/modules/styles/core/variables';

.bar {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
    background: map-get($colors, white);
    display: flex;
    z-index: 99;
    justify-content: space-around;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 -1px 5px rgba(0, 0, 0, 0.08);
    @media (min-width: $screen-md) {
      display: none
    }
  }
  
  .item {
    flex: 1;
    text-align: center;
    text-decoration: none;
    border: 0;
    padding: 6px 0 8px;
    background: transparent;
    color: map-get($colors, text-dark-grey);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    label {
      margin-top: 5px;
    }
  }
  