@import '/src/modules/styles/core/variables';

.student-bg {
    background-image: url('../../assets/student.jpeg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 750px;
    height: 400px
}

.promotion-title {
  text-align: right;
  font-size: 30px;
  max-width: 350px;
  color: map-get($colors, text-green)
}

.promotion-desc {
  max-width: 350px;
}