@import '/src/modules/styles/core/variables';

.search-page {
  flex-direction: row;
  @media (max-width: $screen-md) {
    flex-direction: column;
  }
}

.search-container {
  flex-basis: 50%;
  @media (max-width: $screen-md) {
    flex-basis: 100%;
  }
}

input[type=search] {
  padding: 12px;
  font-size: 16px;
  text-indent: 24px;
  width: 100%;
}

.radio-background {
  padding: 10px;
  margin-right: 8px;
  background: map-get($colors, white);
  color: map-get($colors, text-dark-grey);
  width: fit-content;
  border-radius: 24px;
  cursor: pointer;
}

.radio-background-selected {
  padding: 10px;
  margin-right: 8px;
  background: map-get($colors, primary);
  color: map-get($colors, white);
  width: fit-content;
  border-radius: 24px;
  cursor: pointer;
}

input[type=radio] {
  display: none;
}