a {
  text-decoration: none;
}

a.active {
  color: map-get($colors, primary);
  path,
  circle {
    fill: map-get($colors, primary);
  }
}

button {
  font-family: 'ProdigySans';
  padding: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    background-color: map-get($colors, disabled-grey);
    border: 0;
  }
}

.btn-block {
  width: 100%;
}

.btn-primary {
  background-color: map-get($colors, primary);
  color: map-get($colors, white);
}

input {
  border-radius: 8px;
  border: 1px solid map-get($colors, border-grey);
  padding: 8px 12px;
}

.divider{
  width: 100%;
  color: map-get($colors, border-grey);
  border-radius: 16px;
}

.lh-m {
  line-height: 20px;
}

.lh-l {
  line-height: 25px;
}

.pointer{
	cursor: pointer;
}

.shadow {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.06);
}

.radius-m {
  border-radius: 8px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.page--whole {
  margin-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.container--sm {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.container--md {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.container--lg {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.container--xl {
	max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}