body, html {
  margin: 0;
  font-family: 'ProdigySans';
	font-weight: 400;
	background-color: map-get($colors, background-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	color: map-get($colors,darkest-grey);
}

button {
  font-family: 'ProdigySans';
}

// Alignment
.text-left           { text-align: left !important; }
.text-right          { text-align: right !important; }
.text-center         { text-align: center !important; }
.text-justify        { text-align: justify !important; }
.text-nowrap         { white-space: nowrap !important; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }
.text-italic         { font-style: italic; }

// Font Weight
.text-regular	  { font-weight: 400; }
.text-medium	  { font-weight: 500; }
.text-semibold	{ font-weight: 600; }
.text-bold		  { font-weight: 700; }

// Font Size
.text-8 	{ font-size: 8px; }
.text-12 	{ font-size: 12px; }
.text-14 	{ font-size: 14px; }
.text-15 	{ font-size: 15px; }
.text-16 	{ font-size: 16px; }
.text-18 	{ font-size: 18px; }
.text-20 	{ font-size: 20px; }
.text-22 	{ font-size: 22px; }
.text-24 	{ font-size: 24px; }

// Text Color
.text-black 		    { color: map-get($colors, text-black) }
.text-dark-grey 	  { color: map-get($colors, text-dark-grey) }
.text-medium-grey 	{ color: map-get($colors, text-medium-grey) }
.text-light-grey 	  { color: map-get($colors, text-light-grey) }
.text-blue 			    { color: map-get($colors, text-blue) }
.text-green 		    { color: map-get($colors, text-green) }
.text-red 			    { color: map-get($colors, text-red) }
