@import '/src/modules/styles/core/variables';

.profile-box {
  padding: 45px 10px 20px;
}

.profile-pic {
  height: 50px;
  position: absolute;
  top: 70px;
}

.btn-logout {
  padding: 8px 16px;
  border-radius: 24px;
  background: map-get($colors, red);
  color: map-get($colors, white)
}
